<!DOCTYPE html>
<html lang="en">
    <%- include("common/head") %>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

  
  </nav>
  <!-- /.navbar -->
<!-- sidebar -->
  <%- include("common/sidebar") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Banner</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Banner</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
         
          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-md-8">
            <% if (message.length>0) {%> 
              <div class="alert alert-success">
                <%= message %>
              </div>  
              <% } %>  
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">All Banner</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Title</th>
                      <th>Sub Title</th>
                      <th colspan="3">Image</th>
                      <th>delete</th>
                     
                    </tr>
                    </thead>
                    <% if(aboutData.length>0) {%>
                      <tbody>
                        <% for(let about of aboutData){ %>
                        <tr>
                          <td><%= about.title %></td>
                          <td><%= about.desc.slice(0, 20) %>......</td>
                      
                        
                        <%
                        const filePaths = about.photo
                        const fileArray = filePaths.split(',');
                        const jj= fileArray
                        %>
                        <%
                        for (const f of jj) {%>
                          <!-- <%= f %> -->
                          <td><img src="<%- f %>" height="50px" width="50px" alt="xx"></td>
                        <%}%>

                        <td><a href="/about/delete/<%= about.id %>" class="btn btn-danger">Delete</a></td>
                         
                        </tr>
                      </tbody>
                      <%}}else{%>
                      <h1>No Data Found</h1>
                      <% } %>
              </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>
          <!-- /.col -->
          <div class="col-12 col-md-4">
           
                <form action="/about/create" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                      <% if (error.length>0) {%> 
                        <div class="alert alert-danger">
                          <%= error %>
                        </div>  
                        <% } %>  
                      <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" name="title" class="form-control" id="exampleInputEmail1">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Desc</label>
                        <input type="text" name="desc" class="form-control" id="exampleInputEmail1">
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputFile">Image</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" name="photo" multiple accept="image/png, image/gif, image/jpeg" class="form-control" id="exampleInputFile">
                            
                          </div>
                         
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <%- include("common/footer") %>
